body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
}

#secretContainer {
    text-align: center;
    margin-top: 40px;
}

.hidden {
    display: none;
}

#snakeCanvas {
    background: #111;
    border: 3px solid #00ff88;
    box-shadow: 0 0 20px #00ff88;
}

#snakeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
}

#snakeUI {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.info {
    color: white;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    font-size: 18px;
}
